.App {
  font-family: sans-serif;
  text-align: center;

}

.App>h1 {
  color: teal;
  text-decoration: underline;
}

.App>h2 {
  color: teal;
}

.App>button {
  border-radius: 7px;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

